#2
Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

H0: is dog
Ha: is not dog

false positive: is a dog but we say is not dog
false negative: is not a dog but we say is dog

I would describe this as a dog/cat prediction model

In [8]:
#exercise 3
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

c3 = pd.read_csv('c3.csv')
c3.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [9]:
#An internal team wants to investigate the cause of the manufacturing defects. 
#They tell you that they want to identify as many of the ducks that have a 
#defect as possible. Which evaluation metric would be appropriate here? 
#Which model would be the best fit for this use case?

val1 = pd.crosstab(c3.actual, c3.model1, rownames=['Actual Defect'], colnames=['Pred Defect'])
val2 = pd.crosstab(c3.actual, c3.model2, rownames=['Actual Defect'], colnames=['Pred Defect'])
val3 = pd.crosstab(c3.actual, c3.model3, rownames=['Actual Defect'], colnames=['Pred Defect'])
val1

Pred Defect    Defect  No Defect
Actual Defect
Defect              8          8
No Defect           2        182

In [10]:
val2

Pred Defect    Defect  No Defect
Actual Defect
Defect              9          7
No Defect          81        103

In [11]:
val3

Pred Defect    Defect  No Defect
Actual Defect
Defect             13          3
No Defect          86         98

In [12]:
subset =  c3[c3.actual == 'Defect']
model_recall_1 = (subset.model1 == subset.actual).mean()
model_recall_1

0.5

In [13]:
model_recall_2 = (subset.model2 == subset.actual).mean()
model_recall_2

0.5625

In [14]:
model_recall_3 = (subset.model3 == subset.actual).mean()
model_recall_3

0.8125

we want minimize number of undetected defects, which means that we want minimize false negatives
so we use recall on model3

Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [15]:
model1_accuracy = (c3.model1 == c3.actual).mean()
model1_accuracy

0.95

In [16]:
model2_accuracy = (c3.model2 == c3.actual).mean()
model2_accuracy

0.56

In [17]:
model3_accuracy = (c3.model3 == c3.actual).mean()
model3_accuracy

0.555

You would want to minimize false positives (where you missed detecting a no defect), which would be the normally be the precision method. However, the accuracy method using model1 gives 95% accuracy.

#exercise 4
You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [19]:
df = pd.read_csv('gives_you_paws.csv')
df.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [20]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [23]:
# Create a baseline always populating dog
df['baseline']= 'dog'
df.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [24]:
# create our models
model_1 = pd.crosstab(df.actual,df.model1)
model_2 = pd.crosstab(df.actual,df.model2)
model_3 = pd.crosstab(df.actual,df.model3)

In [25]:
model_1

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [26]:
model1_accuracy = (df.model1 == df.actual).mean()
model1_accuracy

0.8074

In [27]:
model2_accuracy = (df.model2 == df.actual).mean()
model2_accuracy

0.6304

In [28]:
model3_accuracy = (df.model3 == df.actual).mean()
model3_accuracy

0.5096

In [29]:
baseline_accuracy = (df.baseline == df.actual).mean()
baseline_accuracy

0.6508

Model 1 has better accuracy than the baseline

Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

In [31]:
# find the best precision model for dogs
subset = df[df.model1 == 'dog']
model1_precision = (subset.model1 == subset.actual).mean()
model1_precision

0.8900238338440586

In [32]:
subset = df[df.model2 == 'dog']
model2_precision = (subset.model2 == subset.actual).mean()
model2_precision

0.8931767337807607

In [34]:
subset = df[df.model3 == 'dog']
model3_precision = (subset.model3 == subset.actual).mean()
model3_precision

0.6598883572567783


I would use model 1 accuracy for phase 1, and then model 2 precision for phase 2.

Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [35]:
subset = df[df.actual == 'cat']
model1_recall = (subset.model1 == subset.actual).mean()
model1_recall

0.8150057273768614

In [36]:
model2_recall = (subset.model2 == subset.actual).mean()
model2_recall

0.8906071019473081

In [37]:
model3_recall = (subset.model3 == subset.actual).mean()
model3_recall

0.5114547537227949

model 1 for accuracy and for precision

Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.
sklearn.metrics.accuracy_score
sklearn.metrics.precision_score
sklearn.metrics.recall_score
sklearn.metrics.classification_report

In [38]:
accuracy_score(df.actual, df.model1)

0.8074

In [39]:
accuracy_score(df.actual, df.model2)

0.6304

In [40]:
accuracy_score(df.actual, df.model3)

0.5096

In [41]:
accuracy_score(df.actual, df.baseline)

0.6508

In [42]:
precision_score(df.actual, df.model1, pos_label = 'dog')

0.8900238338440586

In [43]:
precision_score(df.actual, df.model2, pos_label = 'dog')

0.8931767337807607

In [44]:
precision_score(df.actual, df.model3, pos_label = 'dog')

0.6598883572567783

In [45]:
precision_score(df.actual, df.baseline, pos_label = 'dog')

0.6508

In [46]:
recall_score(df.actual, df.model1, pos_label = 'dog')

0.803318992009834

In [47]:
recall_score(df.actual, df.model2, pos_label = 'dog')

0.49078057775046097

In [48]:
recall_score(df.actual, df.model3, pos_label = 'dog')

0.5086047940995697

In [49]:
recall_score(df.actual, df.baseline, pos_label = 'dog')

1.0

In [50]:
target_names = ['cat', 'dog']
print(classification_report(df.actual, df.model1, target_names=target_names))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

In [51]:
print(classification_report(df.actual, df.model2, target_names=target_names))

              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

In [52]:
print(classification_report(df.actual, df.model3, target_names=target_names))

              precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

In [53]:
print(classification_report(df.actual, df.baseline, target_names=target_names))

              precision    recall  f1-score   support

         cat       0.00      0.00      0.00      1746
         dog       0.65      1.00      0.79      3254

    accuracy                           0.65      5000
   macro avg       0.33      0.50      0.39      5000
weighted avg       0.42      0.65      0.51      5000

/usr/local/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))